<!-- Sección Reto -->
<section class="reto">
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-lg-4 texto">
        <h1 class="hacheuno">Conviertete en un #SuperMaratonero</h1>
        <h3 class="hachetres">Ve tus series favoritas y se premiado por ello!</h3>
        <p class="hidden-xs">Completa los retos y desbloquea capitulos, premios, trailers y más!.
        Compite con tus amigos y conviertete en el #SuperMaratonero numero uno del ranking!</p>
        <div class="row">
        	<div class="col-xs-12 hidden-lg">
        		<a href="#!" class="btn btn-default comienza que-es">Descúbrenos</a>
        	</div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-lg-6">
            <a href="#" class="btn btn-default comienza" data-toggle="modal" data-target="#btn-signin">Inicia sesión</a>
          </div>
          <div class="col-xs-6 col md-6">
            <a href="#" class="btn btn-default comienza" data-toggle="modal" data-target="#btn-signup">Registrate</a>
          </div>
         </div>
      </div>
		</div>
	</div>
</section><!-- /.Fin sección reto -->