<!-- Sección Reto -->
<section class="reto">
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-lg-4 texto">
        <h1 class="hacheuno">Conviertete en un #SuperMaratonero</h1>
        <h3 class="hachetres">Ve tus series favoritas y se premiado por ello!</h3>
        <p class="hidden-xs">Completa los retos y desbloquea capitulos, premios, trailers y más!.
        Compite con tus amigos y conviertete en el #SuperMaratonero numero uno del ranking!</p>
        <div class="row">
        	<div class="col-xs-12 hidden-lg">
        		<a href="#!" class="btn btn-default comienza que-es">Descúbrenos</a>
        	</div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-lg-12">
            <button class="btn btn-default comienza" (click)="search()">Busca tu serie</button>
          </div>
         </div>
      </div>
		</div>
	</div>
</section><!-- /.Fin sección reto -->

<!-- modal dinámico -->
<app-modal #modal>
  <app-feedback (closeModalSignal)="closeModal()" [typeDisplay]="typeDisplay" #modalContent></app-feedback>
</app-modal>