::ng-deep .swiper-container-horizontal>.swiper-pagination-bullets{
  bottom: 5px;
}

::ng-deep .swiper-pagination.swiper-pagination-bullets{
    width: 100% !important;
    margin-top: 20px !important;
}
::ng-deep .swiper-pagination-bullet {
    border: 1px solid rgba(165, 159, 159, 0.856) !important;
    opacity: 1 !important;
    background: transparent !important;
    width: 12px !important;
    height: 12px !important;
    background-color: #c4c7cd !important;
    border: none !important;
    vertical-align: middle !important;
  }
  ::ng-deep .swiper-pagination-bullet-active {
    background: rgb(153, 211, 180) !important;
    opacity: 1 !important;
    width: 14px !important;
    height: 14px !important;
    height: 14px !important;
    vertical-align: middle !important;
  }
  ::ng-deep .circle{
    font-size: 16px !important;
    border: 0.01px solid #99D3B4;
    vertical-align: middle !important;
  }

  ::ng-deep swiper > .swiper.s-wrapper .swiper-wrapper .swiper-slide {
    overflow: unset;
    width: auto !important;
}

.swiper-slide {
  width: auto;
  cursor: pointer;
}

  .carousel {
    background-color: #222222;
  }

  img {
    height: 450px;
    vertical-align: top;
    width: 300px;
  }