/*
* Sección Series
*/
.series {
    color: white;
  }
  
  .well {
    background-color: #101010;
    border: none;
  }
  
  .carousel-inner.onebyone-carosel { 
    margin: auto; 
    width: 90%; 
  }
  
  .onebyone-carosel .active.left { 
    left: -33.33%; 
  }
  
  .onebyone-carosel .active.right { 
    left: 33.33%; 
  }
  
  .onebyone-carosel .next { 
    left: 33.33%; 
  }
  
  .onebyone-carosel .prev { 
    left: -33.33%; 
  }
  /*
  * Fin Sección Series
  */